<div class="uploadPhotoPopup" id="add-group-popup">
  <div class="inner">
    <div class="popupHeader">
      <div *ngIf="!updating" class="title description">
        Add new car!
      </div>
      <div *ngIf="updating" class="title description">
        Update a car!
      </div>
      <div id="exitButtonContainer">
        <span class="btn btn-close btn-md btn-block waves-effect text-center optionElement" (click)="closePopup()"></span>
      </div>
    </div>
    <div class="carData">
      <div class="singleProperty">
        <span class="description">brand:</span>
        <input type="text" [(ngModel)]="car.brand" placeholder="brand">
      </div>
      <div class="singleProperty">
        <span class="description">model:</span>
        <input type="text" [(ngModel)]="car.model" placeholder="model">
      </div>
      <div class="singleProperty">
        <span class="description">year of production:</span>
        <input type="number" [(ngModel)]="car.yearOfProduction" placeholder="2021">
      </div>
      <div class="singleProperty">
        <span class="description">registration number:</span>
        <input type="text" [(ngModel)]="car.registrationNumber" placeholder="registration number">
      </div>
      <div class="singleProperty">
        <span class="description">price:</span>
        <input type="number" [(ngModel)]="car.price">
      </div>
    </div>
    <form enctype="multipart/form-data" novalidate *ngIf="isInitial() || isSaving() || true">
      <h4 class="description uploadTitle">Upload Car Photo</h4>
      <div class="dropbox">
        <input type="file"
               (change)="filesChange($event)"
               accept="image/*" class="input-file">
        <p *ngIf="isInitial()">
          Drag your file(s) here to begin<br> or click to browse
        </p>
        <p *ngIf="isSaving()"> {{filename}}</p>
      </div>
    </form>
    <div *ngIf="isSuccess() && !updating">Car uploaded successfully</div>
    <div *ngIf="isSuccess() && updating">Car updated successfully</div>
    <span *ngIf="!updating" class="btn btn-primary btn-md btn-block waves-effect text-center optionElement" (click)="addCar()">add</span>
    <span *ngIf="updating" class="btn btn-primary btn-md btn-block waves-effect text-center optionElement" (click)="updateCar()">update</span>
  </div>
</div>
