.content
  list-style-type: none
  width: 100vw
  padding-top: 10vh
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center

  .summary
    display: flex
    justify-content: center
    flex-direction: row
    vertical-align: middle
    text-align: center
    border: 5px groove #766ee2
    border-radius: 5px

    .rentHistoryHeader
      margin: 5px 10px

      .description
        font-family: Arial, Helvetica, sans-serif
        font-size: 21px
        letter-spacing: -0.6px
        word-spacing: 0.4px
        color: #232323
        font-weight: normal
        text-decoration: none
        font-style: normal
        font-variant: normal
        text-transform: capitalize

    .optionElement
      padding: 0
      border: 0


  .details
    display: flex
    justify-content: center
    flex-direction: row
