.content
  list-style-type: none
  width: 100vw
  padding-top: 10vh
  display: flex
  flex-direction: column
  justify-content: center

  .summary
    display: flex
    justify-content: center
    flex-direction: row
    vertical-align: middle
    text-align: center

    .optionElement
      padding: 0
      border: 0


  .details
    display: flex
    justify-content: center
    flex-direction: row



