<section class="login-block">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <form class="md-float-material form-material" action="#" method="POST">
          <div class="auth-box card">
            <div class="card-block">
              <div class="row">
                <div class="col-md-12">
                  <h3 class="text-center heading">Login with your account!</h3>
                </div>
              </div>
              <div class="form-group form-primary">
                <input
                  [(ngModel)]="user.email" type="text"
                  class="form-control" name="email" value=""
                  placeholder="Email" id="email">
              </div>
              <div class="form-group form-primary">
                <input
                  [(ngModel)]="user.password" type="password"
                  class="form-control" name="password"
                  placeholder="Password" value="" id="password">
              </div>
              <div class="form-group form-primary failure" *ngIf="authService.failure" >
                <span>{{this.authService.message}}</span>
              </div>
              <div class="row d-flex justify-content-center m-b-20">
                <div class="col-md-12 d-flex justify-content-center d-flex align-items-center">
                  <div class="btn btn-primary btn-md btn-block waves-effect text-center"
                       (click)="login(user.email, user.password)">
                    Login
                  </div>
                </div>
              </div>
              <div class="or-container">
                <div class="line-separator"></div>
                <div class="or-label">or</div>
                <div class="line-separator"></div>
              </div>
              <app-facebook-login-button></app-facebook-login-button>
              <app-google-login-button></app-google-login-button>
              <br>
              <p class="text-inverse text-center">Dont have an account?
                <a routerLink="{{authService.REGISTER_PAGE}}">Sign up!</a>
              </p>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
