<section class="car row">
  <app-add-car-popup [(popup)]="opened" *ngIf="opened" [car]="car" [updating]=true></app-add-car-popup>
  <div class="imageContainer col-4">
    <img class="img-responsive center-block" src="{{this.picture}}" width="200" height="200">
  </div>
  <div class="col-6">

    brand {{car.brand}}<br>
    model {{car.model}}<br>
    year of production {{car.yearOfProduction}}<br>
    price {{car.price}}<br>
    {{showAvailability()}}
<!--    {{car}}-->

  </div>
  <div class="buttonsContainer col-2">
    <span class="btn btn-primary btn-md btn-block waves-effect text-center optionElement" *ngIf="car.available" (click)="changeRentPopupState()">rent</span>
    <span class="btn btn-primary btn-md btn-block waves-effect text-center optionElement"
          *ngIf="userService.isAdmin()"
          (click)="openPopup()">
      update</span>
    <span class="btn btn-primary btn-md btn-block waves-effect text-center optionElement"
          *ngIf="userService.isAdmin()"
          (click)="removeCar()">
      remove</span>
  </div>
  <div class="line-separator"></div>
  <div class="rentContainer col-8" *ngIf="rentPopup">
    <div class="dateContainer">
      Reserve your car: <br>
      From:
      <input type="date" [(ngModel)]="rentRequest.reservedFrom" (change)="refreshCurrentPrice()">
      To:
      <input type="date" [(ngModel)]="rentRequest.reservedUntil" (change)="refreshCurrentPrice()">
    </div>
    <div class="buttonsContainer">
      <span class="btn btn-primary btn-md btn-block waves-effect text-center optionElement"
            (click)="rentCar()">
        rent</span>
      Days: {{this.currentRentDays}}<br>
      Price: {{this.currentPrice}}
    </div>
  </div>
</section>
