<section class="car row">
  <app-add-car-popup [(popup)]="opened" *ngIf="opened" [car]="car" [updating]=true></app-add-car-popup>
  <div class="imageContainer col-4">
    <img class="img-responsive center-block" src="{{this.picture}}" width="200" height="200">
  </div>
  <div class="col-6">

    brand {{car.brand}}<br>
    model {{car.model}}<br>
    year of production {{car.yearOfProduction}}<br>
    price {{car.price}}<br>
    {{showAvailability()}}
<!--    {{car}}-->

  </div>
  <div class="buttonsContainer col-2">
    <span class="btn btn-primary btn-md btn-block waves-effect text-center optionElement" *ngIf="car.available" (click)="rentCar()">rent</span>
    <span class="btn btn-primary btn-md btn-block waves-effect text-center optionElement"
          *ngIf="userService.hasRole('ADMIN')"
          (click)="openPopup()">
      update</span>
    <span class="btn btn-primary btn-md btn-block waves-effect text-center optionElement"
          *ngIf="userService.hasRole('ADMIN')"
          (click)="removeCar()">
      remove</span>
  </div>
</section>
